:root {
    --color-primary: #081cff;
    --color-white: #f30e0e;
    --color-black: #141d28;
    --color-black-1: #212b38;
  }
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
}
html{
    scroll-behavior: smooth;
}
header{
width: 100%;
height: 100px;
display: flex;
align-items: center;
justify-content: space-between;
background-image: url(nava.jpg);
}
.hero{
    height: 100vh;
    width: 100%;
    background-image: url(back.jpg);
    background-position: center;
    background-size: cover;
}
.logo{
    font-size: 28px;
    font-weight: bold;
    color: #213032;
    margin-right: 40px;
}

.content{
    position: absolute;
    top: 40%;
    left: 8%;
    transform: translateY(-50%);
}
h1{
    color: #00e1ff;
    font-size: 75px;
    margin: 20px 0px 20px;
}
h3{
    color: #edffef;
    font-size: 35px;
    margin-bottom: 50px;
}
h4{
    color: #edffef;
    letter-spacing: 2px;
    font-size: 30px;
}
.button{
position: absolute;
background-color: #213032;
color: #fff;
text-decoration: none;
border: 2px solid black;
font-weight: bold;
padding: 13px 30px;
transform: .4s;
}
.button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.about{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
}
.about img{
    height: auto;
    width: 430px;
    border-radius: 20px 0 20px 0;
}
.main{
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.about h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.about-text p{
    color: #97a2a3;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}
.about-text{
    width: 500px;
}
.side-bar {
    position: fixed;
    top: 0;
    left: -110%;
    height: 100%;
    width: 30rem;
    background: #fff;
    z-index: 10000;
  }
  
  .side-bar.active {
    left: 0;
    -webkit-box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
            box-shadow: 0 0 0 100vw rgba(0, 0, 0, 0.7);
  }
  
  .side-bar #close-side-bar {
    position: absolute;
    top: 1rem;
    right: 2rem;
    font-size: 4rem;
    cursor: pointer;
    color: #666;
  }
  
  .side-bar #close-side-bar:hover {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
    color: #333;
  }
  
  .logo {
    color: var(--color-white);
    font-size: 40px;
  }

  .logo span {
    color: var(--color-primary);
  }

  .menu-bar {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    background: url(../HTML/images/0.jpg );
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37)
  }

  .menu-bar ul {
    list-style: none;
    display: flex;
  }

  .menu-bar ul li {
    padding: 10px 20px;
    position: relative;
  }

  .menu-bar ul li a {
    font-size: 23px;
    font-weight: bolder;
    color:rgb(225, 180, 17);
    text-decoration: none;


  }

  .menu-bar ul li a:hover {
    color:#000000;
    background-color: #ffffff;
  font-weight: 700; 
  }

  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .dropdown-menu {
    display: none;
    font-size: medium;
  }

  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    font-size: medium;
    background-color: var(--color-black);
  }

  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 1px;
    font-size: smaller;
  }

  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 230px;
    padding: 8px;
  }

  .dropdown-menu-1 {
    display: none;

  }

  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: var(--color-black);
  }
  .dropdown-menu-2 {
    display: none;
  }

  .dropdown-menu ul li:hover .dropdown-menu-2 {
    display: block;
    position: absolute;
    right: 150px;
    top: 0;
    background-color: var(--color-black);
  }

  .side-bar .user {
    padding: 2rem;
    background: #eee;
    text-align: center;
  }
  
  .side-bar .user img {
    height: 17rem;
    width: 17rem;
    border-radius: 50%;
    border: 1rem solid #fff;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
            box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    margin-bottom: .5rem;
  }
  
  .side-bar .user h3 {
    padding: .5rem 0;
    font-size: 1.7rem;
    color: #666;
  }
  
  .side-bar .user a {
    font-size: 1.5rem;
    color: #0984e3;
  }
  
  .side-bar .user a:hover {
    color: #333;
  }
  
  .side-bar .navbar {
    padding-top: 1rem;
  }
  
  .side-bar .navbar a {
    display: block;
    padding: 1rem 2rem;
    font-size: 1.7rem;
    color: #666;
  }
  
  .side-bar .navbar a:hover {
    color: #0984e3;
  }
  
  .side-bar .navbar a:hover i {
    padding-right: 2rem;
  }
  
  .side-bar .navbar a i {
    padding-right: .5rem;
  }
  
/*Recipe Section CSS*/
.recipe{
    width: 100%;
    padding: 100px 0px;
    background-color: #213032;
}
.recipe h2{
    color: #edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
}
.box{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
}
.box .card img{
    width: 100%;
    height: 1005;
    object-fit: cover;
   
}
.box .card .content{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
}
.box .card:hover .content{
    opacity: 1;
}
.card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
}
.box .card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
 }
 .box .card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
 }
 /*Categories*/
 .categories{
    width: 100%;
    padding: 100px 0px;
    background-color: #314e52;
 }
 .categories h2{
    color:#edffef;
    font-size: 75px;
    text-transform: capitalize;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: center;
 }
 .ca-card{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 10px;
    border: 5px solid #ccc;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    overflow: hidden;
 }
 .box .ca-card .content{
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    padding: 15px;
    background-color: #edffef;
    color: #182f32;
    text-align: center;
    opacity: 0;
 }
 .box .ca-card:hover .content{
    opacity: 1;
 }
 .ca-card h3{
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    color: #213032;
 }
.box .ca-card p{
    font-size: 14px;
    margin-bottom: 10px;
}
.box .ca-card button{
    position:relative;
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 13px 30px;
}
.box .ca-card button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.box .ca-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/*Contact form*/
.contact{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    background: #182f32;
}
.contact-info,.contact-form{
    width: 100%;
    max-width: 400px;
    margin: 20px;
    text-align: center;
    color: #edffef;
    font-size: 25px;
}
.contact-info h2, .contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #edffef;
}
.contact-form form{
    text-align: center;
}
.contact-form label, 
.contact-form input , 
.contact-form textarea ,
 .contact-form button {
display: block;
width: 100%;
margin-bottom: 10px;
}
.contact-form button{
    background-color: #213032;
    color: #fff;
    text-decoration: none;
    border: 2px solid black;
    font-weight: bold;
    transform:.4s;
    padding: 10px 0px;
}
.contact-form button:hover{
    background-color: #97a2a3;
    color: #213032;
    border: 2px solid black;
    cursor: pointer;
}
.contact-form label{
    text-align: left;
    color: #edffef;
}
.contact-form input, .contact-form textarea{
    padding: 8px;
}
.contact-info p{
padding: 15px;
}
.social-icons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.social-icon{
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: 0 10px;
    color: #97a2a3;
    text-align: center;
    line-height: 40px;
    font-size: 38px;
}
.social-icon:hover{
    color: #314e52;
    cursor: pointer;
}
footer{
    padding: 20px 0;
    background: #5e6465;
}
footer h5{
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    color: #97a2a3;
}

.header .icons a,
.header .icons div {
  font-size: 2.5rem;
  margin-left: 2rem;
  color: #fff;
  cursor: pointer;
}

.header .icons a:hover,
.header .icons div:hover {
  color: gold;
}
